@import "fonts";

$border-radius: 0 !default;
$border-radius-xs: 0 !default;
$border-radius-sm: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-xl: 0 !default;
$border-radius-2xl: 0 !default;
$border-radius-pill: 0 !default;
$badge-border-radius: 3px !default;
$input-border-radius: 0 !default;
$form-check-input-border-radius: 0 !default;
$form-select-border-radius: 0 !default;
$form-select-border-radius-sm: 0 !default;
$form-select-border-radius-lg: 0 !default;

$primary: #7c6b58;
$secondary: #5a4633;
$success: #5F7C4B;
$info: #5B9A9A;
$warning: #D17C2F;
$danger: #B23B2B;
$light: #F5EFE5;
$dark: #2B211B;

$font-size-base: 0.875rem !default; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 1.65 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.45 !default;
$h4-font-size: $font-size-base * 1.3 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base !default;

@import 'tabulator-tables/src/scss/themes/bootstrap/tabulator_bootstrap5';

@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

body {
  font-family: 'Montserrat', sans-serif;
}


// --------------------- tabulator custom
.tabulator-footer {
  font-size: 0.8rem !important;

  .tabulator-paginator {
    .tabulator-page {
      padding: 0.25rem 0.5rem !important;
      font-size: 0.8rem !important;
      border-radius: 0 !important;
    }
  }

  .tabulator-footer-contents {
    .tabulator-page-counter {
      font-size: 0.8rem !important;
    }
  }

  //.tabulator-page {
  //  border-radius: 0 !important;
  //  padding: 0.25rem 0.5rem !important;
  //  font-size: 0.8rem !important;
  //}
}

// tabulator custom ---------------------

// --------------------- flash messages
#flash-messages {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 1050;
  max-width: 270px;
  width: 100%;
}

#flash-messages .alert {
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #flash-messages {
    left: 10px;
    right: 10px;
    max-width: calc(100% - 20px);
  }
}

// flash messages ---------------------
