{% include 'productVariant/components/_header.html.twig' %}
<h3 class="mb-0">
     <i class="fa-solid fa-fw fa-ruler-combined pe-2"></i>{{ productComponent.dimensionsString }}
     ({{ productComponent.quantity }}x)
</h3>