<div class="row pb-2">
    <div class="col"><label class="fw-semibold">{{ 'field.wood'|trans }}:</label> <span>{{ material.wood.description}}</span></div>
    <div class="col"><label class="fw-semibold">{{ 'field.type'|trans }}:</label> <span>{{ ('material.type.' ~ material.type.value)|trans({}, 'enum') }}</span></div>
</div>