{% extends 'base.html.twig' %}

{% block title %}{{ 'title.color'|trans }}{% endblock %}

{% block body %}
    <div id="color_card" class="card shadow-sm">
        <div class="card-header bg-light d-flex justify-content-between">
            <div id="color-title">
                {% include 'color/components/_header.html.twig' with { color: color } %}
            </div>
            <a class="btn btn-sm btn-primary" data-modal-id="colorModal" data-modal-src="{{ path('color_edit', {'id': color.id}) }}" data-modal-title="{{ color.description(app.request.locale) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        <div class="card-body">
            <div id="color-detail">
                {% include 'color/components/_detail.html.twig' with { color: color } %}
            </div>
        </div>
    </div>

    {% include 'components/form_modal_frame.html.twig' with {
        modal_id: 'colorModal',
        title: 'title.color'|trans
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}