name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin master
            docker compose down
            docker compose build
            docker compose up -d
            docker compose exec -T ofertilo php bin/console cache:clear --env=prod
            docker compose exec -T ofertilo php bin/console doctrine:migrations:migrate --no-interaction
